@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karol Korol<br />
    Adres<br />
    <abbr title="Telefon komórkowy">Tel:</abbr>
    +48 880953608
</address>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:karolkorol@gmail.com">karolkorol@gmail.com</a><br />
</address>