@{
    ViewBag.Title = "Strona startowa";
}

<div class="jumbotron">
    <h1>Wypożyczania Samochodów</h1>
</div>

<div class="row">
    
        <h2>Witaj w internetowej wypożyczalni samochodów</h2>
        <p>
            Jest to prosta aplikacja web pokazująca możliwość funkcjonowaia wypożyczalni samochodów z wykorzystaniem Entity Framework 6 w ASP.NET MVC 5
        </p>
       
</div>